*{
  margin: 0px;
  padding: 0px;

}

nav{
  background-color:blue;
   text-align: center;
   color:blueviolet;
   padding: 20px 0px;
}
.todo{
  margin: 10px;
  width: 300px;
  height: 100px;
  padding:20px, 20px;
  background-color:#55488d;
}
.todo:hover{
  border: 2px solid yellowgreen;
  height: 120px;
  width: 310px;
  background-color:black;
  color:#55488d;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100w;
}


